<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title></title>
</head>
<body style="margin: 0px !important; padding: 0px !important; width: 100% !important;" bgColor="#cecece">
<!-- Wrapper Table -->
<table style="border-collapse: collapse;" border="0" cellSpacing="0" cellPadding="0" width="100%" bgColor="#cecece">
  <tr>
    <td valign="top" align="center"><!-- Main table -->

      <table border="0" cellSpacing="0" cellPadding="0" width="604" align="center">
        <tr>
          <td valign="top" align="center"><!-- Content table -->

            <table border="0" cellSpacing="0" cellPadding="0" width="604" bgColor="#cecece">
              <tr>
                <td style="padding-top: 5px; padding-bottom: 5px; padding-left: 16px;" width="100%" align="left">
                  <div style="color: rgb(44, 44, 44); font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                    Please add the sender’s email to your address book.
                  </div>
                </td>
              </tr>
              <tr>
                <td width="604" align="left">
                  <table border="0" cellSpacing="0" cellPadding="0" width="604" bgColor="#ffffff">
                    <tr>
                      <td valign="top" width="401" align="left">
                        <table border="0" cellSpacing="0" cellPadding="0" width="401" bgColor="#ffffff">
                          <tr>
                            <td width="100%" align="left">
                              <table border="0" cellSpacing="0" cellPadding="0" width="401">
                                <tr>
                                  <td width="151" align="left">
                                    <div style="height:22px; width:151px;">
                                      <a href="#ISI"><img src="images/SAM-P2-header-isi02-201306.jpg" style="border: medium none; display: block; font-weight: bold" alt="IMPORTANT SAFETY INFORMATION" height="22" width="151"></a>
                                    </div>
                                  </td>
                                  <td width="250" align="left">

                                    <div style="width:250px; height:22px;">
                                      <a href="http://www.otsuka-us.com/products/Documents/Samsca.PI.pdf?ceid=1001394&appid=HCP&utm_source=Branded Website&utm_medium=Email&utm_campaign=Branded&utm_content=MOA"><img src="images/SAM-P2-header-fpi02-201306.jpg" style="border: medium none; display: block; font-weight: bold" alt="FULL PRESCRIBING INFORMATION, including Boxed WARNING" height="22" width="250"></a>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td width="100%" align="left" height="77">
                              <div style="height:77px; width:401px;">
                                <img style="border: currentColor; display: block;" alt="Samsca &reg; | Serum Sodium Sentinel: The Source for Hyponatremia Experts" src="images/01Serum_Header03_08-2011.jpg" width="401" height="77">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td width="100%" align="left">
                              <table border="0" cellSpacing="0" cellPadding="0" width="401">
                                <tr>
                                  <td width="13" align="left"><br></td>
                                  <td width="375" align="left">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                      <tr>
                                        <td align="right" valign="top" style="padding-top:3px; padding-bottom:10px; padding-right:20px;">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; color:#0678b4">
                                            <strong><span style="color:#0678b4; text-decoration:underline"><a href="#ISI" style="color:#0678b4; text-decoration:underline">IMPORTANT
                                              SAFETY INFORMATION</a></span> ▼</strong></div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top" style="padding-top:0px; padding-right:15px;">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#f58220; font-weight:bold;">
                                            Safety evaluated in more than 4000 patients
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top" style="padding-top:12px;">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:18px; color:#3f3f3f;">
                                            Dear $firstname,
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top" style="padding-top:12px; ">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:18px; color:#3f3f3f;padding-right:20px;">
                                            Today we invite you to
                                            <a href="http://www.samsca.com/safety-profile.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation" style="color:#02478c; text-decoration:underline">read
                                              about the clinical trial safety profile of SAMSCA<sup>®</sup>
                                              (tolvaptan) </a> which has been evaluated in more than 4000 patients
                                            across all clinical trials. Visit SAMSCA.com to
                                            <a href="http://www.samsca.com/safety-profile.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation" style="color:#02478c; text-decoration:underline">learn
                                              more</a>.
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top" style="padding-top:12px;padding-right:20px;">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:18px; color:#3f3f3f;padding-right:20px;">
                                            <strong>In the SALT trials, discontinuation rates due to adverse
                                              reactions were similar for SAMSCA-treated and placebo-treated
                                              patients </strong></div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top" style="padding-top:12px;padding-right:20px;">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:18px; color:#3f3f3f;padding-right:20px;">
                                            On SAMSCA.com, you
                                            can<a href="http://www.samsca.com/safety-profile.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation" style="color:#02478c; text-decoration:underline">
                                            see the discontinuation rates </a>and
                                            <a href="http://www.samsca.com/safety-profile.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation" style="color:#02478c; text-decoration:underline">read
                                              about the most common adverse reactions </a>that occurred in
                                            patients treated with SAMSCA.
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top" style="padding-top:12px;padding-right:20px;">
                                          <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:18px; color:#3f3f3f;padding-right:20px;">
                                            We hope you will find
                                            <a href="http://www.samsca.com/safety-profile.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation" style="color:#02478c; text-decoration:underline">the
                                              safety information</a> useful and will consider SAMSCA for your
                                            appropriate hyponatremic patients with clinically significant
                                            dilutional hyponatremia. SAMSCA increases serum sodium through free
                                            water clearance.
                                          </div>
                                        </td>
                                      </tr>

                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="13" align="left">
                                    <br>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td width="203" align="left" valign="top" bgcolor="#ffffff">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" valign="top" bgcolor="#e6e6e6" style="padding-bottom:15px">
                              <div style="height:31px; width:203px;">
                                <img src="images/SAM-P2-header-right-201208.gif" height="31" width="203" style="display:block; border:none" alt="Features">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="top">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" width="13">
                                    <div style="height:390px; width:13px;">
                                      <img src="images/SAM-P2-gradient-201208.gif" height="390" width="13" style="display:block; border:none" alt="">
                                    </div>
                                  </td>
                                  <td align="left" valign="top" width="177">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="left" valign="top">
                                          <div style="height:20px; width:177px;">
                                            <img src="images/SAM-P2-rail-header-201306.jpg" height="20" width="177" style="display:block; border:none" alt="">
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td width="1" bgcolor="#dbdbdb"></td>
                                              <td width="1" bgcolor="#b9b9b9"></td>
                                              <td align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:1px; padding-left:10px;">
                                                      <div style="height:75px; width:157px;">
                                                        <img style="border:none; display: block;" alt="" src="images/30Serum_Pic01_08-2011.jpg" width="157" height="75">
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:15px; padding-left:10px; padding-right:15px">
                                                      <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; color:#797979">
                                                        Learn about the clinical safety<br> profile for SAMSCA.
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:15px; padding-left:10px;">
                                                      <a style="border: currentColor; display: block;" href="http://www.samsca.com/#emailPopup?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation"><img style="border:none; display: block;" alt="Send Now" src="images/01Serum_BtnLearn_08-2011revPJM.gif" width="97" height="22"></a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:0px; padding-left:10px;">
                                                      <div style="height:20px; width:150px;">
                                                        <img src="images/file://localhost/Users/admin/Dropbox/Public/emails/samsca/Batch 2-1/Samsca Branded CRM Email 6/2013-08-CRM Emails 1-8 Images/images/SAM-P2-rail-line-201208.gif" height="1" width="150" style="display:block; border:none" alt="">
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:5px; padding-left:10px;">
                                                      <div style="height:75px; width:157px;">
                                                        <img style="border:none; display: block;" alt="" src="2013-08-CRM Emails 1-8 Images/images/AEs Chart.png" width="157" height="75">
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:15px; padding-left:10px; padding-right:15px">
                                                      <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; color:#3f3f3f">
                                                        Tell a colleague about these resources.
                                                      </div>
                                                    </td>
                                                  </tr>

                                                  <tr>
                                                    <td align="left" valign="top" style="padding-top:15px; padding-left:10px; padding-bottom:10px;">
                                                      <a style="border: currentColor; display: block;" href="http://www.samsca.com/video-library/kelly-matsuda-hyponatremia-in-heart-failure-patient-case-video#top?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation"><img style="border:none; display: block;" alt="Watch Video Now" src="images/01Serum_BtnSend_08-2011.gif" width="97" height="22"></a>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                              <td width="1" bgcolor="#ababab"></td>
                                              <td width="1" bgcolor="#d8d8d8"></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="20" align="left" valign="top" style="padding-bottom:0px; line-height:20px;">
                                          <div style="height:20px; width:177px; display:block;">
                                            <img align="left" src="2013-08-CRM Emails 1-8 Images/images/SAM-P2-rail-footer-201208.gif" height="10" width="177" style="vertical-align:bottom; display:block !important; border:none" alt="">
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td align="left" valign="top" width="13">
                                    <div style="height:390px; width:13px;">
                                      <img src="images/SAM-P2-gradient-201208.gif" height="390" width="13" style="display:block; border:none" alt=""></div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table border="0" cellSpacing="0" cellPadding="0" width="604" bgColor="#ffffff">
                    <tr>
                      <td width="100%" align="left">
                        <table border="0" cellSpacing="0" cellPadding="0" width="604">
                          <tr>
                            <td width="13" align="left"><br></td>
                            <td width="566" align="left">
                              <table border="0" cellspacing="0" cellpadding="0" width="566">
                                <tbody>

                                <tr>
                                  <td align="left" valign="top" style="padding-top:20px; padding-bottom:15px; padding-right:20px;">
                                    <div style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; color:#0678b4">
                                      <a name="ISI"></a><strong>INDICATION and IMPORTANT SAFETY INFORMATION for
                                      SAMSCA<sup style="line-height: 0px; font-size: 12px;">®</sup>&nbsp;(tolvaptan)</strong>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; color:#0678b4; font-weight:bold;">
                                      <strong>INDICATION</strong></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      SAMSCA is indicated for the treatment of clinically significant hypervolemic
                                      and euvolemic hyponatremia (serum sodium &lt;125&nbsp;mEq/L or less marked
                                      hyponatremia that is symptomatic and has resisted correction with fluid
                                      restriction), including patients with heart failure, and Syndrome of
                                      Inappropriate Antidiuretic Hormone (SIADH)
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td style="padding-bottom: 16px;" width="100%" align="left">
                                    <div style="color: rgb(6, 120, 180); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 14px;">
                                      <strong>Important Limitations </strong></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            Patients requiring intervention to raise serum sodium urgently to
                                            prevent or to treat serious neurological symptoms should not be
                                            treated with &nbsp;SAMSCA
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            It has not been established that raising serum sodium with SAMSCA
                                            provides a symptomatic benefit to&nbsp;patients
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 10px;" align="left" width="100%">
                                    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(6, 120, 180);">
                                      <strong>IMPORTANT SAFETY INFORMATION</strong></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                      <strong>SAMSCA should be initiated and re-initiated in patients only in a
                                        hospital where serum sodium can be monitored closely. Too rapid correction
                                        of hyponatremia (e.g.,&nbsp;&gt;12&nbsp;mEq/L/24&nbsp;hours) can cause
                                        osmotic demyelination resulting in dysarthria, mutism, dysphagia,
                                        lethargy, affective changes, spastic quadriparesis, seizures, coma and
                                        death. In susceptible patients, including those with severe malnutrition,
                                        alcoholism or advanced liver disease, slower rates of correction may be
                                        advisable</strong></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 5px;" align="left" width="100%">
                                    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                      <strong>SAMSCA is contraindicated in the following conditions:</strong>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px; padding-left: 10px;" align="left" width="100%">
                                    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                      — Urgent need to raise serum sodium acutely <br>
                                      — Inability of the patient to sense or appropriately respond to thirst <br>
                                      — Hypovolemic hyponatremia <br>
                                      — Concomitant use of strong CYP 3A inhibitors <br>
                                      — Anuric patients <br>
                                      — Hypersensitivity (e.g. anaphylactic shock, rash generalized) to tolvaptan
                                      or its components
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>Too Rapid Correction of Serum Sodium Can Cause Serious
                                              Neurologic Sequelae&nbsp;–&nbsp;</strong>During initiation and after
                                            titration monitor patients to assess serum sodium concentrations and
                                            neurologic status. Subjects with SIADH or very low baseline serum
                                            sodium concentrations may be at greater risk for too‑rapid correction
                                            of serum sodium. In patients receiving SAMSCA who develop too rapid a
                                            rise in serum sodium, discontinue or interrupt treatment with SAMSCA
                                            and consider administration of hypotonic fluid. Fluid restriction
                                            during the first 24 hours with SAMSCA may increase the likelihood of
                                            overly‑rapid correction of serum sodium, and should generally be
                                            avoided
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>Liver Injury&nbsp;–&nbsp;</strong>SAMSCA can cause serious and
                                            potentially fatal liver injury. In a
                                            <nobr>placebo-controlled</nobr>
                                            and
                                            <nobr>open-label</nobr>
                                            extension study of chronically administered tolvaptan in patients with
                                            autosomal dominant polycystic kidney disease (ADPKD), cases of serious
                                            liver injury attributed to tolvaptan were observed. Avoid use in
                                            patients with underlying liver disease, including cirrhosis, because
                                            the ability to recover may be impaired. Limit duration of therapy with
                                            SAMSCA to 30 days.
                                            <strong><em>SAMSCA is not approved for use in ADPKD</em></strong>
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>Dehydration and Hypovolemia&nbsp;–&nbsp;</strong>In patients
                                            who develop medically significant signs or symptoms of hypovolemia,
                                            discontinuation is recommended. Dehydration and hypovolemia can occur,
                                            especially in potentially volume-depleted patients receiving diuretics
                                            or those who are fluid restricted
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>Co-administration with Hypertonic Saline&nbsp;–&nbsp;</strong>Not
                                            recommended
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 2px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>Other Drugs Affecting Exposure to SAMSCA</strong></div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 2px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="15"><br></td>
                                        <td align="left" valign="top" width="15">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            —
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="536">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>CYP 3A Inhibitors&nbsp;–&nbsp;</strong>Do not use with strong
                                            inhibitors of CYP 3A; avoid concomitant use with moderate CYP 3A
                                            inhibitors
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 2px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="15"><br></td>
                                        <td align="left" valign="top" width="15">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            —
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="536">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>CYP 3A Inducers&nbsp;–&nbsp;</strong>Avoid concomitant use
                                            with CYP 3A inducers. If co‑administered, the dose of SAMSCA may need
                                            to be increased
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="15"><br></td>
                                        <td align="left" valign="top" width="15">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            —
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="536">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>P‑gp Inhibitors&nbsp;–&nbsp;</strong>The dose of SAMSCA may
                                            have to be reduced if co‑administered with
                                            <nobr>P-gp&nbsp;inhibitors</nobr>
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="10">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            •
                                          </div>
                                        </td>
                                        <td align="left" valign="top" width="556">
                                          <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                            <strong>Hyperkalemia or Drugs that Increase Serum
                                              Potassium&nbsp;–&nbsp;</strong>Monitor serum potassium levels in
                                            patients with a serum potassium &gt;5 mEq/L and in patients receiving
                                            drugs known to increase serum potassium levels
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" align="left" width="100%">
                                    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                      <strong>Pregnancy and Nursing Mothers&nbsp;–&nbsp;</strong>SAMSCA should be
                                      used during pregnancy only if the potential benefit justifies the potential
                                      risk to the fetus. Because many drugs are excreted into human milk and
                                      because of the potential for serious adverse reactions in nursing infants
                                      from SAMSCA, a decision should be made to discontinue nursing or SAMSCA,
                                      taking into consideration the importance of SAMSCA to the mother
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      <strong>Adverse Reactions&nbsp;–&nbsp;</strong>The most common adverse
                                      reactions (SAMSCA incidence ≥5% more than placebo, respectively): thirst&nbsp;(16%&nbsp;vs&nbsp;5%),
                                      dry&nbsp;mouth&nbsp;(13%&nbsp;vs&nbsp;4%), asthenia&nbsp;(9%&nbsp;vs&nbsp;4%),
                                      constipation&nbsp;(7%&nbsp;vs&nbsp;2%), pollakiuria&nbsp;or&nbsp;polyuria&nbsp;(11%&nbsp;vs&nbsp;3%)
                                      and hyperglycemia&nbsp;(6%&nbsp;vs&nbsp;1%)
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      <i>Gastrointestinal Bleeding in Patients with Cirrhosis&nbsp;–&nbsp;</i>In
                                      patients with cirrhosis in the hyponatremia trials, GI&nbsp;bleeding was
                                      reported in&nbsp;10%&nbsp;of
                                      <nobr>tolvaptan-treated</nobr>
                                      patients vs&nbsp;2% for&nbsp;placebo
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 25px;" align="left" width="100%">
                                    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 16px;">
                                      <strong>Please see
                                        <a href="http://www.otsuka-us.com/products/Documents/Samsca.PI.pdf?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation" style="color: rgb(6, 120, 180); text-decoration: underline;">FULL
                                          PRESCRIBING INFORMATION</a>, including Boxed WARNING</strong>.
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 10px;" width="100%" align="left">
                                    <div style="color: rgb(2, 71, 140); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      <strong>Prescribe SAMSCA for your appropriate hyponatremic
                                        patients.</strong></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <a style="border: currentColor; display: block;" href="http://www.samsca.com/?ceid=1001398&appid=HCP&utm_source=Branded Website&utm_medium=Email&utm_campaign=Branded&utm_content=Safety Evaluation"><img style="border:0; display: block;" alt="Learn More" src="images/01Serum_BtnLearn_08-2011.gif" width="109" height="22"></a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" style="padding-top:12px;padding-right:20px;">
                                    <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:18px; color:#3f3f3f;padding-right:0px;">
                                      Reference: 1. Data on file: Protocols 156 -02 -235 and 156 -03 -238; Pooled.
                                      Otsuka America Pharmaceutical, Inc.
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 20px;" width="100%" align="left">
                                    <img style="border: currentColor; display: block;" alt="" src="images/01Serum_HR_08-2011.gif" width="566" height="6">
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      Please do not reply to this message via email. Emails sent to this account
                                      will not be read because it is automated, unattended, and cannot help with
                                      questions or requests. If you have any questions regarding SAMSCA, please
                                      call Otsuka America Pharmaceutical, Inc. (OAPI), Medical Information at
                                      (800)&nbsp;441‑6763.
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      OAPI is committed to your privacy and the protection of your information.
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 14px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      This email was sent to the following email address $email, the address you
                                      provided when you registered for&nbsp;updates.
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 16px;" width="100%" align="left">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 11px;">
                                      <a style="color: rgb(6, 120, 180); text-decoration: underline;" href="http://www.samsca.com/unsubscribe-messages.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation">Click
                                        here</a> to unsubscribe from receiving future information from SAMSCA.com,
                                      or write to us at Otsuka America Pharmaceutical, Inc., Commercial Strategy
                                      and Analysis Hospital Products, 1 University Square Drive, Princeton, NJ
                                      08540, to be removed from our mailing list.
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 16px;" width="100%" align="center">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 12px;">
                                      <a style="color: rgb(6, 120, 180); text-decoration: underline;" href="http://www.otsuka-us.com/Pages/PrivacyPolicy.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation">Privacy
                                        Policy</a> &nbsp;|&nbsp;
                                      <a style="color: rgb(6, 120, 180); text-decoration: underline;" href="http://www.samsca.com/legal-disclaimer.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation">Legal
                                        Disclaimer</a> &nbsp;|&nbsp;
                                      <a style="color: rgb(6, 120, 180); text-decoration: underline;" href="http://www.otsuka-us.com/Pages/TermsOfUse.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation">Terms
                                        of Use</a> &nbsp;|&nbsp;
                                      <a style="color: rgb(6, 120, 180); text-decoration: underline;" href="http://www.samsca.com/contact-us.aspx?ceid=1001398&amp;appid=HCP&amp;utm_source=Branded Website&amp;utm_medium=Email&amp;utm_campaign=Branded&amp;utm_content=Safety Evaluation">Contact
                                        Us</a></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom:40px;" width="100%" align="center">
                                    <div style="color: rgb(102, 102, 102); line-height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 10px;">
                                      Manufactured by Otsuka Pharmaceutical Co., Ltd., Tokyo, 101-8535 Japan.<br>
                                      Distributed and marketed by Otsuka America Pharmaceutical, Inc., Rockville,
                                      MD 20850.<br>
                                      SAMSCA is a registered trademark of Otsuka Pharmaceutical Co., Ltd., Tokyo,
                                      101-8535 Japan.
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                            <td width="25" align="left"><br/></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" style="padding-left:30px; padding-bottom:25px">
                        <img src="2013-08-CRM Emails 1-8 Images/images/OAPI.png" height="40" width="199" style="display:block; border:none" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" style="padding-left:30px; padding-right:20px; padding-bottom:15px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td width="280" align="left">
                              <div style="color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; font-size: 10px;">
                                © 2014 Otsuka America Pharmaceutical, Inc.
                              </div>
                            </td>
                            <td width="180" align="right">
                              <div style="color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; font-size: 10px;">
                                June 2014
                              </div>
                            </td>
                            <td width="106" align="right">
                              <div style="color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; font-size: 10px;">
                                07US14EBP0130
                              </div>
                            </td>
                          </tr>


                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-bottom: 20px;" bgColor="#cecece" width="100%" align="left">
                        <div style="height:18px; width:604px;">
                          <img style="border: currentColor; display: block;" alt="" src="2013-08-CRM Emails 1-8 Images/images/01Serum_Footer_08-2011.gif" width="604" height="18">
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>

</html>