---
title: Samsca 6 example
host: http://manumorante.github.io/email-maker
folder: samsca-6
font_family: Arial
font_size: 14px
color1: #111111
color2: #f58220
width: 604px
align: center
---
<table <%= table :width => current_page.data.width %>>
  <tr>
    <td>

      <p <%= font :color => 2 %>>
        Safety evaluated in more than 4000 patients
      </p>

    </td>
  </tr>
</table>