---
layout: web
---

<h1>Email Maker</h1>
<h5><code>Environment: <%= environment %></code></h5>

<p><%= link_to 'Readme', "#{Vars::REPO_URL}blob/master/README.md" %></p>


<h3>Email list</h3>
<ol>
  <li><%= link_to 'Base example', 'emails/base-mail/index.html' %></li>
  <li><%= link_to 'Samsca 6', 'emails/samsca-6/index.html' %></li>
</ol>