---
layout: web
---

<h1>Email Maker</h1>
<h5><code>Environment: <%= environment %></code></h5>

<p><a href="https://github.com/manumorante/email-maker/blob/master/README.md">Readme</a></p>

<h3>Email list</h3>
<ol>
  <li><%= link_to 'Example Base Mail', 'emails/base-mail/base.html' %></li>
</ol>