---
layout: web
---

<h1>Email Maker</h1>

<h3>Environment: <%= environment %></h3>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Emails list</div>
		<div class="panel-body">
			<p>Text goes here...</p>
		</div>

		<!-- Table -->
		<table class="table">
			<tbody>
				<tr>
					<td><%= link_to 'Example Base Mail', 'emails/base-mail/base.html' %></td>
				</tr>
				<tr>
					<td>Content 2</td>
				</tr>
			</tbody>
		</table>
</div>